
.home {
  visibility: visible;
  background: white;
  border-radius: 10px;
  display: inline-block;
  width: fit-content;
  height: fit-content;

  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto; 
}

.main {
  visibility: hidden;
  background: white;
  height: 100%;
}

.col {
  margin-top: 20px;
}

body {
	background: linear-gradient(-45deg, rgb(116,151,189), rgb(118,116,189), rgb(116,188,189));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#word {
  font-size: 9vw;
  text-transform: uppercase;
  text-align: center;
}

.newword {
  font-size: 24px;
  padding: 20px;
  margin: auto;
}

.hint {
  font-size: 24px;
  padding: 20px;
  margin: auto;
}


#hintbox {
  font-size: 20px;
}

.card-body {
  font-size: 26px;
}

.card {
  margin-bottom: 20px;
}